/* main */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
     background-color: #121212;
     color: #ffffff;
     /*overflow-y: hidden;*/
     /*overflow-x: hidden;*/
 }

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

/* pour side bar */
.sidebar {
    background-color: #1c1c1c;
    width: 250px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sidebar h2 {
    color: #e1e1e1;
    margin-bottom: 20px;
}

.sidebar a {
    color: #9e9e9e;
    text-decoration: none;
    margin: 10px 0;
    display: block;
    font-size: 16px;
}

.sidebar a:hover {
    color: #ffffff;
}

.sidebar .current-playlist {
    margin-top: 20px;
}

.sidebar .playlist-item {
    color: #e1e1e1;
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
}

.sidebar .playlist-item:hover {
    color: #ffffff;
}

/* main content */
.content {
    max-height: 100vh;
    margin-left: 250px;
    padding: 30px;
}

.content h1, .content h2 {
    color: #e1e1e1;
}

/* styles pour cards */
.card {
    border: none;
    background-color: #484848 ;
}

.card-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 15px;
}

.card .card-title {
    font-size: 1rem;
    font-weight: 600;
}

.card .card-text {
    font-size: 0.875rem;
    color: #9e9e9e;
}

.container {
    max-width: 1200px;
    min-height: 100vh;
}

.card-sign-in{
    width: 100%;
    max-width: 400px;
    background-color: #2b2b2b;
    color: #ffffff;
    border: none;
    border-radius: 10px;
}

/* styles pour les grope 8 */
.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.next-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s;
}

.next-icon:hover {
    transform: scale(1.1);
}

/* styles pour ellipses */
.ellipse-first {
    position: absolute;
    width: 850px;
    height: 613px;
    top: -148px;
    left: 448px;
    background: url('/figma_outils/Ellipse1.png') no-repeat center center;
    opacity: 0.89;
    border-radius: 50%;
    filter: blur(50px);
    z-index: -1;
}

.ellipse-second {
    position: fixed;
    width: 479px;
    height: 377px;
    bottom: 0;
    left: 90px;
    background: url('/figma_outils/Ellipse3.png') no-repeat center center;
    opacity: 0.72;
    transform: rotate(45deg);
    z-index: -1;
}

.ellipse-third {
    position: fixed;
    width: 418px;
    height: 456px;
    bottom: 0;
    right: 0;
    background: url('/figma_outils/Ellipse2.png') no-repeat center center;
    opacity: 0.72;
    z-index: -1;
}

/* styles pour  play-button*/
.play-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: auto;
}

.play-button img {
    width: 45px;
    height: 45px;
}

.full-screen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.img-like {
    width: 28px;
    height: 22px;
}
.add-track-fields{
    display: none;
}

/* styles pour courent playlist */
.current-playlist {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

.current-playlist h3 {
    font-size: 16px;
    font-weight: 600;
    color: #b3b3b3;
    margin-bottom: 15px;
    border-bottom: 1px solid #444;
    padding-bottom: 5px;
}

.track-card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    color: #ffffff;
}

.track-card .card-title {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}

.track-card .card-text {
    font-size: 12px;
    color: #b3b3b3;
    margin-top: 4px;
}

.play-card.playing {
    background-color: #3c5144;
    /*background-color: #3c4751;*/
}

/* player */
.audio-player {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 700px;
    background-color: #333;
    color: white;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.audio-player.hidden {
    display: none;
}

.audio-controls {
    display: flex;
    gap: 10px;
    margin-right: 2px;
}

.control-button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#seek-bar {
    flex: 1;
    margin: 0 10px;
}

.volume-controls {
    font-size: 0.9rem;
    color: #b3b3b3;
    padding-top: 5px;
}

.player .card-title {
    font-size: 16px;
    font-weight: 600;

}

.player .card-text {
    font-size: 14px;
    color: #b3b3b3;
    margin-top: 4px;
}

